@import "mocha.css";

@define-color   base    @surface0;
@define-color   hl_low  @surface2;
@define-color   text    @text;
@define-color   red     @red;
@define-color   green   @green;
@define-color   blue    @sapphire;
@define-color   yello   @yellow;


* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, JetBrains Mono;
  font-size: 14px;
}

window#waybar {
  background: rgba(49,50, 68, 0.6);
  border: 0.5px solid @surface0;
  border-radius: 8px;
  color: @text;
}

button {
  background: none;
  border: none;
  border-radius: 0;
}

#workspaces {
  margin-left: 4px;
}

#workspaces button {
  padding: 2px 5px 0 5px;
  color: @text;
}

#workspaces button:hover {
  color: @mauve;
  box-shadow: none;
}

#workspaces button.active,
#workspaces button.focused {
  color: @mauve;
}

#workspaces button.urgent {
  color: @red;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 4px;
}

.modules-right * {
  padding: 0 8px;
  color: @text;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  color: @red;
}

#pulseaudio {
  margin-right: -6px;
}

#pulseaudio.muted {
  color: @red;
}

#custom-power:hover {
  color: @red;
}

